@charset "utf-8";

//------------------------------------------------------------------------------
//
//	共通設定 
//  
//------------------------------------------------------------------------------
body {
	background: #000;
}
.pc {
	@include sp {
		display: none !important;
	}
}
.sp {
	@include pc {
		display: none !important;
	}
}
#app {
  color: #fff;
}
#wrapper {
  opacity: 0;
  transition: .6s ease .2s;
  &.load {
    opacity: 1;
  }
}
#nav {
  background: #474747;
  padding: 20px; 
  display: flex;
  justify-content: flex-end;
  p {
    a {
      display: block;
      width: 100px;
      font-size: 1.6rem;
      text-align: center;
      padding: 10px 0 13px;
      background: #000;
      @include transition;
      line-height: 1;
      &.router-link-exact-active {
        background-color: #e8843b;
        text-decoration: none;
      }
    }
  }
  a {
    font-weight: bold;
    color: #fff;
  }
}
.main {
  padding: 50px 0;
}

/* transition
----------------------------------------*/
.router-transition-enter-active {
  animation: fadeIn .5s;
  animation-delay: .5s;
  opacity: 0;
}
.router-transition-leave-active {
  animation: fadeOut .5s;
}

@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}
