@charset "utf-8";

//------------------------------------------------------------------------------
//
//	共通設定 
//  
//------------------------------------------------------------------------------
body {
	background: #000;
}
.pc {
	@include sp {
		display: none !important;
	}
}
.sp {
	@include pc {
		display: none !important;
	}
}
#app {
  color: #fff;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #fff;
    &.router-link-exact-active {
      color: #d8915e;
      text-decoration: none;
    }
  }
}